{% load detail %}
<div id="collapse{{ department.id }}" class="accordion-collapse collapse {% if forloop.counter == 1 %}show{% endif %}"
     aria-labelledby="heading{{ department.id }}" data-bs-parent="#accordionExample{% if not is_initial %}{{ department.id }}{% endif %}">
    <div class="accordion-body">
        <nav class="nav nav-pills nav-justified">
          <button class="nav-link child_departments active" value="{{ department.id }}" aria-current="page" href="#">Child Departments</button>
          <button class="nav-link employees" value="{{ department.id }}" href="#">Employees</button>
        </nav>
        <div class="accordion body{{ department.id }}" id="accordionExample{{ department.id }}">
            {% for child_deparment in child_departments %}
                <div class="accordion-item">
                    <h2 class="accordion-header {% if forloop.counter != 1 %}collapsed{% endif %}" id="heading{{ child_deparment.id }}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse{{ child_deparment.id }}" aria-expanded="true" aria-controls="collapse{{ child_deparment.id }}">
                            {{ child_deparment.title }} {{ child_deparment.id }}
                        </button>
                    </h2>
                {% get_detail child_deparment %}
                </div>
            {% endfor %}
        </div>
        <div class="second_body invisible"></div>
    </div>
</div>
<script>

</script>
