<table class="table">
  <thead>
    <tr>
      <th scope="col">#Employee ID </th>
      <th scope="col">Full Name</th>
      <th scope="col">Job Title</th>
      <th scope="col">Employment Date</th>
      <th scope="col">Vages</th>
    </tr>
  </thead>
  <tbody>
  {% for item in results %}
      <tr>
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.full_name }}</td>
          <td>{{ item.job_title }}</td>
          <td>{{ item.employment_date }}</td>
          <td>{{ item.amount_of_wages }}</td>
      </tr>
  {% endfor %}
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item {% if not previous %}disabled{% endif %}">
      <button class="page-link" value="v1/?department_id={{ request.query_params.department_id }}&page={{ previous_number }}" tabindex="-1">Previous</button>
    </li>
    {% if previous %}
    <li class="page-item"><button class="page-link" value="v1/?department_id={{ request.query_params.department_id }}&page={{ previous_number }}">{{ previous_number }}</button></li>
    {% endif %}

    <li class="page-item"><button class="page-link current_page" >{{ page_number }}</button></li>
  {% if next %}
  <li class="page-item"><button class="page-link"  value="/v1/?department_id={{ request.query_params.department_id }}&page={{ next_number }}">{{ next_number }}</button></li>
    <li class="page-item {% if not next %} disabled {% endif %}">
      <button class="page-link" value="/v1/?department_id={{ request.query_params.department_id }}&page={{ next_number }}">Next</button>
    </li>
  {% endif %}
  </ul>
</nav>
