{#{% load compressed %}#}

{% load static detail %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    {#      {% compressed_css 'bootstrap' %}#}
</head>
<body>
<h1 class="text-center">Departments List</h1>
<div class="accordion" id="accordionExample">
    {% for category in categories %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ category.id }}">
                <button class="accordion-button {% if forloop.counter != 1 %}collapsed{% endif %} " type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{ category.id }}" aria-expanded="true"
                        aria-controls="collapse{{ category.id }}">
                    {{ category.title }} {{ category.id }}
                </button>
            </h2>
        {% get_detail category 1 %}
        </div>
    {% endfor %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script src="{% static 'jquery.min.js' %}"></script>
<script>

        $(document).ready(function () {
        $(document).on('click', '.nav-link', (e) => {
            e.preventDefault();
            let self = $(e.target);
            let siblings = self.siblings('.active');
            siblings.removeClass('active');
            self.addClass('active');

            if (self.hasClass('employees')){
                var value=self.val();
                let parent=self.parent().siblings(".body"+value);
                let second_body=self.parent().siblings(".second_body");
                parent.addClass('invisible');
                $.ajax({
                    url: "/v1/"+"?department_id="+value,
                    type: 'get',
                    success: (response) => {
                        console.log(response);
                        second_body.html(response);
                        second_body.removeClass("invisible");

                    },
                    error: (xhr, status, data) => {
                        console.dir(xhr)
                        console.dir(status)
                        console.dir(data)
                    }
                });

            }
            if (self.hasClass('child_departments')){
                var value=self.val();
                let parent=self.parent().siblings(".body"+value);
                let second_body=self.parent().siblings(".second_body");
                parent.removeClass('invisible');
                second_body.addClass('invisible');

            }

        })

            $(document).on('click', '.page-link', (e) => {
            e.preventDefault();
            let self = $(e.target);

                var value=self.val();
                let second_body=self.parent().parent().parent().parent();
                $.ajax({
                    url: value,
                    type: 'get',
                    success: (response) => {
                        console.log(response);
                        second_body.html("")
                        second_body.html(response);
                        second_body.removeClass("invisible");

                    },
                    error: (xhr, status, data) => {
                        console.dir(xhr)
                        console.dir(status)
                        console.dir(data)
                    }
                });


        })
        })



</script>
</body>
</html>